:root {
    line-height: 1.5;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    --main-background: rgb(255, 132, 204);
    --shadow-color: rgba(153, 0, 0, 0.445);

}
@import url(https://fonts.bunny.net/css?family=autour-one:400);
@import url(https://fonts.bunny.net/css?family=balsamiq-sans:400);

h1,h2,h3,h4, nav {
    font-family: 'Balsamiq Sans', display;
}

p, li {
    font-family: 'Autour One', display;
}

div[class$="footer"] > p {
    font-family: Arial, Helvetica, sans-serif;
}

body,
h1, 
h2, 
h3, 
h4, 
p, 
div, 
button,
li,
ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

body {
    background: rgb(255, 205, 253);
}

#content {
    background: none;
}

.outside {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background: var(--main-background);
    margin-bottom: 1rem;
    box-shadow: 0 1px 10px var(--shadow-color);

    nav {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        button {
            position: relative;
        }
        button.active::after {
            content: "";
            display:inline-block;
            position: absolute;
            bottom: 0.3rem;
            left: 1.5rem;
            width: 12ch;
            height:4px;
            background: var(--main-background);
            border-radius: 50px;
        }
    }
}

.outside button {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    width: 12rem;
    border-style: none;
    outline: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -2px 5px rgba(173, 0, 173, 0.185);
}

.home-wrapper {
    margin-bottom: 2rem;
    display: grid;
    place-self: center;
    text-align: center;
    padding: 1rem;
    background: var(--main-background);
    border-radius: 25px;
    box-shadow: 0 10px 10px var(--shadow-color);
    width: clamp(500px, 70%, 1000px);
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

div {
    padding: 1rem;
    border-radius: 25px;
    background: rgb(255, 181, 236);

    .header {
        display: flex;
        justify-content: space-around;
        grid-row: 1 ;
        grid-column: 1 / span 2;
        gap: 2rem;
    }

    .hero-text {
        font-size: 24px;
    }
    .header .img {
        background-image: url(./imgs/auntiehams.png);
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: 0 0;
        display: inline-block;
        width: 290px;
        height: 190px;
    }

    .info {
        display: flex;
        grid-column: 1 / span 2;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        p {
            max-width: clamp(30ch, 60ch, 90ch);
        }
        .img {
            padding: 1rem;
            background-image: url(./imgs/pig.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100px;
            height: 100px;

            flex: 1 0 1;
        }
    }

    .main{
        padding-top: 2rem;
    }
    .header,
    .info,
    .main,
    .call-to-action,
    .footer {
        box-shadow: 0 4px 8px var(--shadow-color);
    }

    .call-to-action {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .button-area {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .call-to-action button {
        font-family: inherit;
        background: rgb(255, 125, 146);
        font-size: 15px;
        font-weight: 700;
        border-style: none;
        outline: none;
        padding: 1rem;
        border-radius: 25px;

        &:hover {
            background: rgb(255, 50, 84);
        }
    }

    .footer {
        font-size: 10px;
        grid-column: span 2;
    }
}

.menu-wrapper {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    place-self: center;
    text-align: center;
    padding: 1rem;
    background: var(--main-background);
    border-radius: 25px;
    box-shadow: 0 10px 10px var(--shadow-color);
    width: clamp(500px, 70%, 1000px);
    gap: 1rem;
    min-height: 100dvh;
}
.menu-header,
.menu-info,
.menu-main,
.menu-ad,
.menu-footer {
    box-shadow: 0 4px 8px var(--shadow-color);
}

.menu-header {
    grid-column: span 3;
}

.menu-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    
    .image-area {
        display: flex;
        gap: 1rem;
    }
    .img {
        background-image: url(./imgs/auntiehams.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
    }
}


.menu-main {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 3;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-row: span 3;
    
    span[class^="menu"] {
        background: rgb(255, 240, 240);
        box-shadow: 0 2px 10px rgba(255, 0, 140, 0.26);
        border-radius: 25px;
        height: 250px;
        width: 200px;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: scale 100ms;

        &:hover {
            scale: 105%;
        }
    }
    div {
        background-color: rgb(255, 240, 240);
    }
}

.menu-main span[class^="menu"]:nth-child(4) .img {
            background-image: url(./imgs/mashedpotatos.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            }

.menu-main span[class^="menu"]:nth-child(3) .img  {
            background-image: url(./imgs/teaicon.png); 
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;    
}
.menu-main span[class^="menu"]:nth-child(1) .img {
    background-image: url(./imgs/menu2.png); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;  
}
.menu-main span[class^="menu"]:nth-child(2) .img {
    background-image: url(./imgs/menu1.png); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;  
}

.menu-main span[class^="menu"]:nth-child(5) .img {
    background-image: url(./imgs/cola.png); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;  
}

.menu-ad {
    grid-row: 2;
    align-content: center;
    .ad {
        display: flex;
        
        flex-direction: column;
        gap: 1rem;
        border: rgb(255, 35, 64) dotted 3px;
    }
}

.menu-footer {
    grid-column: span 3;
    font-size: 10px;
}

.contact-wrapper {
    display: grid;
    place-self: center;
    padding: 1rem;
    background: var(--main-background);
    border-radius: 25px;
    box-shadow: 0 10px 10px var(--shadow-color);
    width: clamp(500px, 70%, 1000px);
    gap: 1rem;
    height: 800px;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, 100px) 1fr 1fr 80px;

    .contact-header,
    .contact-hours,
    .contact-info,
    .contact-footer {
        box-shadow: 0 4px 8px var(--shadow-color);
    }

    .contact-header {
        grid-column: span 3;
        text-align: center;
    }
    .contact-hours {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        grid-row: 3;
        grid-column: 1 / span 3;
    }
    .contact-info {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .contact-footer {
        grid-column: 1 / span 3;
        display: flex;
        align-items: center;
        grid-row: 4;
        text-align: center;
        font-size: 10px;
    }
}